.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.125rem);
  background-color: rgba(163, 163, 163, 0.2);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 2rem;
  z-index: 1000;
}

.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button-x {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.75rem 0 0.75rem 0;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

.form-sections-container {
  display: flex;
  gap: 2rem;
}

.price-quantity-container {
  display: flex;
  gap: 1rem;
}

.price-quantity-input {
  width: 9rem;
}

.price-quantity-container > * {
  width: 10rem;
}

.buttons-container-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-button {
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  cursor: pointer;
}

.product-form-button-light {
  color: #1162dd;
  background-color: #fff;
  border: 2px solid #1162dd;
  padding: 8px 36px;
}

.product-form-button-light:hover {
  background-color: #deebff;
}

.product-form-button-dark {
  color: #fff;
  background-color: #1162dd;
  border: 2px solid #1162dd;
  padding: 8px 43.5px;
}

.product-form-button-dark:hover {
  background-color: #5c9dff;
}

.preview-heading {
  margin: 0;
}

.image-preview-container {
  width: 20rem;
  height: 21rem;
}
.image-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 0.125rem solid #92bdff;
  border-radius: 0.5rem;
}
