.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(163, 163, 163, 0.2);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
}

.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button {
  background: url('../../assets/close-button.svg') no-repeat;
  border: none;
  width: 32px;
  height: 32px;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.75rem 0 0.75rem 0;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

.form-sections-container {
  display: flex;
  gap: 2rem;
}

.left-section-container {
  border: 1px solid red;
}

.right-section-container {
  border: 1px solid limegreen;
}

.buttons-container-form {
  border: 1px solid purple;
}

.price-quantity-container {
  display: flex;
  gap: 1rem;
}

.form-error-message {
  color: #fd0d0d;
  line-height: 14px;
  font-weight: 500;
  min-height: 17px;
  margin: 0;
}

.form-error-message::before {
  content: url('../../assets/icons/alert-icon.svg') / 'warning';
  display: inline-block;
  vertical-align: middle;
  padding-right: 4px;
}

.hidden-style {
  visibility: hidden;
}

label {
  display: flex;
  flex-direction: column;
  color: #53545c;
  font-weight: 700;
  line-height: 19px;
}

.label-error-style {
  color: #fd0d0d;
}
