.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.125rem);
  background-color: rgba(163, 163, 163, 0.2);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 2rem;
  z-index: 1000;
}

.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button {
  background: url('../../assets/close-button.svg') no-repeat;
  border: none;
  width: 2rem;
  height: 2rem;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.75rem 0 0.75rem 0;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

.form-sections-container {
  display: flex;
  gap: 2rem;
}

.price-quantity-container {
  display: flex;
  gap: 1rem;
}

.price-quantity-input {
  width: 9rem;
}

.price-quantity-container > * {
  width: 10rem;
}

.form-error-message {
  color: #fd0d0d;
  line-height: 0.875rem;
  font-weight: 500;
  min-height: 1.0625rem;
  margin: 4px 0 4px 0;
}

.form-error-message::before {
  content: url('../../assets/icons/alert-icon.svg') / 'warning';
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.25rem;
}

.hidden-style {
  visibility: hidden;
}

label,
.preview-heading {
  color: #53545c;
  line-height: 1.1875rem;
}

.label-error-style {
  color: #fd0d0d;
  font-weight: 700;
}

input,
textarea {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background: #f7fafb;
  border: 0.125rem solid #92bdff;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 20rem;
}

input {
  height: 3rem;
}

textarea {
  height: 6.75rem;
  resize: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dot-container {
  display: flex;
  gap: 0.5rem;
}

.buttons-container-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-button {
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  cursor: pointer;
}

.product-form-button-light {
  color: #1162dd;
  background-color: #fff;
  border: 2px solid #1162dd;
  padding: 8px 36px;
}

.product-form-button-light:hover {
  background-color: #deebff;
}

.product-form-button-dark {
  color: #fff;
  background-color: #1162dd;
  border: 2px solid #1162dd;
  padding: 8px 43.5px;
}

.product-form-button-dark:hover {
  background-color: #5c9dff;
}

.preview-heading {
  margin: 0;
}

.image-preview {
  width: 100%;
  object-fit: cover;
  border: 0.125rem solid #92bdff;
  border-radius: 0.5rem;
}
