main {
  margin-left: 2.188rem;
  margin-right: 2rem;
}

.products-container {
  box-shadow: 0px 0px 4px 1px #dadada;
  border-radius: 12px;
  height: 40rem;
  max-height: 49rem;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.error-message {
  color: #ff5d04;
  text-align: center;
}
