.product-list-headings {
  display: flex;
  font-weight: 500;
  margin: 0;
  background: #edeeee;
  border-radius: 12px 12px 0 0;
  padding: 0 2.5rem;
  position: sticky;
  top: 0;
}
.product-heading {
  min-width: 16.9375rem;
}

.description-heading {
  min-width: 16.9375rem;
}

.price-heading {
  padding-right: 4.7rem;
  margin-left: 2.5rem;
  min-width: 4.9274375rem;
}

.quantity-heading {
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 4.9274375rem;
}
