.product-list-headings {
  display: flex;
  font-weight: 500;
  margin: 0;
  background: #edeeee;
  border-radius: 12px 12px 0 0;
  padding: 0 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.product-heading {
  min-width: 16.9375rem;
}

.description-heading {
  min-width: 16.9375rem;
}

.price-quantity-status-container {
  display: flex;
  margin-left: 4.6875rem;
}

.price-heading,
.quantity-heading,
.status-heading {
  margin-right: 3.7rem;
  min-width: 4.9274375rem;
}
