.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #1162dd;
  padding: 23px 0;
}

.user-info-container {
  color: #fff;
  margin-right: 2rem;
  margin-left: 0.5rem;
}

.user-info-container > h2 {
  margin: 0;
  font-size: 0.875rem;
}

.user-info-container > p {
  margin: 0;
}
