.main-section-content-container {
  border-left: 0.188rem solid #92bdff;
  border-top: 0.188rem solid #92bdff;
  background: #f7fafb;
}

main {
  padding-bottom: 2rem;
}

.products-container {
  box-shadow: 0px 0px 4px 1px #dadada;
  border-radius: 12px;
  height: 36rem;
  max-height: 49rem;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-left: 2rem;
  margin-right: 2rem;
}

.products-container
  > .single-product-container:last-child
  > .edit-delete-modal-container {
  top: -62px;
}

.products-container
  > .single-product-container:nth-last-child(2)
  > .edit-delete-modal-container {
  top: -62px;
}
