.nav {
  background: #1162dd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-children-container {
  padding: 0 1.5rem 0 2rem;
}

.title-container {
  margin: 2.625rem 0 3rem 0;
}

.nav-list {
  padding: 0;
  text-align: left;
}

.nav-list > li {
  display: flex;
  list-style: none;
  list-style-position: inside;
  padding: 0.8rem 3rem 0.5rem 1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.313rem;
}

.nav-list > li:hover {
  background-color: #5c9dff;
  transition: all 0.3s ease;
}

.inventory {
  cursor: pointer;
}

.inventory::before {
  content: url('../../assets/icons/inventory-icon-inactive.svg');
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.625rem;
}

.inventory:hover::before {
  content: url('../../assets/icons/inventory-icon-active.svg');
}

.orders:hover,
.customers:hover {
  cursor: not-allowed;
}

.orders::before {
  content: url('../../assets/icons/orders-icon-inactive.svg');
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.625rem;
}

.orders:hover::before {
  content: url('../../assets/icons/orders-icon-active.svg');
}

.orders::before {
  content: url('../../assets/icons/orders-icon-inactive.svg');
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.625rem;
}

.orders:hover::before {
  content: url('../../assets/icons/orders-icon-active.svg');
}

.customers::before {
  content: url('../../assets/icons/customers-icon-inactive.svg');
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.625rem;
}

.customers:hover::before {
  content: url('../../assets/icons/customers-icon-active.svg');
}
